{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Versions{% endblock %}

{% block content %}
    <div class="container">
        <h2>Version</h2>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th class="hidden-xs">Created by</th>
                <th class="hidden-xs">Timestamp</th>
                <th>Files</th>
            </thead>
            <tbody>
                {% for locversion in version_list %}
                    <tr>
                        <td>{{ locversion.version }}</td>
                        <td class="hidden-xs">TBD</td>
                        <td class="hidden-xs">OCT 21 2015 PM 07:28</td>
                        <td>Yes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
