{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Versions{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h2>Versions</h2>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Timestamp</th>
                    <th>Creator</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for locversion in version_list %}
                    <tr>
                        <th scope="row"><a href={{ locversion.get_absolute_url }}> {{ locversion.version }} </a> </th>
                        <td> {% if locversion.modified %} {{ locversion.modified }} {% else %} {{ locversion.created }}{% endif %}</td>
                        <td>{{ locversion.creator }}</td>
                        <td> <a href={% url 'unlocode:update' locversion.version %} class="btn btn-success btn-sm"><i class="fa fa-pencil" ></i></a>&nbsp; <a href={% url 'unlocode:delete' locversion.version %} class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <a href={% url 'unlocode:create' %} class="btn btn-primary btn-large" role="button" >Add new</a>
    </div>
{% endblock content %}
